#contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-wrapper {
  width: 50%;
  padding: 20px;
}

.contact-wrapper h2 {
  width: 100%;
  color: $primary-color;
  font-size: 3rem;
  text-align: center;
  margin-top: 90px;
  padding-bottom: 90px;
}

.contact-wrapper .contact-row {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contact-wrapper .contact-row .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.contact-wrapper .contact-row .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: rgb(177, 177, 177);
}
.contact-wrapper .contact-row .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: rgb(177, 177, 177);
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.contact-wrapper .contact-row .selected {
  color: $primary-color;
}
.contact-wrapper .contact-row .selected .line {
  background: $primary-color;
}

.contact-wrapper .contact-row .inputBox input,
.contact-wrapper .contact-row .inputBox.message textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 2rem;
  padding: 0 10px;
  z-index: 1;
  color: black;
}

.contact-wrapper .contact-row .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 1.5rem;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.contact-wrapper .contact-row .inputBox input:focus + .text,
.contact-wrapper .contact-row .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

.contact-wrapper .contact-row .inputBox input:focus ~ .line,
.contact-wrapper .contact-row .inputBox input:valid ~ .line {
  height: 100%;
}

.contact-wrapper .contact-row .inputBox.message {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.contact-wrapper .contact-row .inputBox.message textarea {
  height: 100%;
  resize: none;
}

.contact-wrapper .contact-row .inputBox textarea:focus + .text,
.contact-wrapper .contact-row .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.contact-wrapper .contact-row .inputBox textarea:focus ~ .line,
.contact-wrapper .contact-row .inputBox textarea:valid ~ .line {
  height: 100%;
}

.btn {
  padding: 40px 10px;
}

.btn button {
  all: unset;
  cursor: pointer;
  padding: 10px 25px;
  font-size: 1.5rem;
  border-radius: 40px;
  color: $primary-color;
  box-shadow: -2px -2px 8px rgb(31, 31, 37),
    -2px -2px 12px rgba(31, 31, 37, 0.5),
    inset 2px 2px 4px rgba(31, 31, 37, 0.1),
    2px 2px 4px rgba(255, 255, 255, 0.15);
}

.btn button:hover {
  padding: 10px 25px;
  box-shadow: inset -2px -2px 8px rgba(31, 31, 37, 1),
    inset -2px -2px 12px rgba(31, 31, 37, 0.5),
    inset 2px 2px 4px rgba(31, 31, 37, 0.1),
    inset 2px 2px 4px rgba(255, 255, 255, 0.15);
}

.btn button:hover span {
  display: inline-block;
  transform: scale(0.98);
}
